.body {
  background: url(https://i.pinimg.com/564x/5d/c1/7e/5dc17ea0c4dc87e5ba3b72e8b6f476e5.jpg);
}
.App {
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 72px;
  color: #0ccac4;
}
